@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");


body {
    font-family: 'lato', sans-serif;

}
table, td, th {
    border: 1px solid;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  .btn {
    text-decoration: none;
    background-color: beige; /* Green */
    border: 1px;
    border-color: black;
    float: right;
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }
  
  .btn:hover {
    background-color: antiquewhite;
  }
 